<div class="container">
   
<h2 class="tituloprincipal">Rockola</h2>
<p class="botones">
    <a class="btn btn-outline-warning" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Como Funciona?</a>
    <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Funcionalidad?</button>
    <button class="btn btn-outline-warning" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Disfruten de Buena Musica.</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
         Conecta Tu cuenta de Spotify para disfrutar de la mejor musica en Mis Series.
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          No cierres ni cambies de seccion en la pagina porque se corta la musica. 
        </div>
      </div>
    </div>
    
  </div>
<iframe class="rockola" src="https://open.spotify.com/embed?uri=spotify:album:3MKQjYpaES80tFP7Qo2zH0" width="1600" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>



<iframe class="rockola" src="https://open.spotify.com/embed?uri=spotify:album:2d9BCZeAAhiZWPpbX9aPCW" width="1600" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>



<iframe class="rockola" src="https://open.spotify.com/embed?uri=spotify:album:1SBHFu8QLBlhsqLL7WQtlR" width="1600" height="580" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>












































</div>