<div class="fondo">
<div class="row" >
        <div class="col-md-4 mx-auto">
            <div class="card text-center " >
                <div class="card-body">
                    <h3 class="letra3">¡Bienvenido A tus Series!</h3>
                    <img src="./../../../assets/public/img/logo2.png" alt="" width="150">
                    
                    <a href="http://www.chikardo.xyz/" class="btn btn-warning m-4">
                       Creador Del Sitio
                    </a>
                </div>
            </div>
        </div>
        <!-- <video  class="video"src="./../../../assets/public/img/video.mp4"  autoplay loop  width="100"></video> -->
        

   
        
        
        
    </div>
    
    <div  id="ancla" class="tituloprincipal" >¡Las Mejores Plataformas de Series!</div>


    <div class="row">
        <div class="col-md-4 mb-2">
            <figure>
                <img class="img-fluid"   src="./../../../assets/public/img/iconos/icono1.png"  id="sucu"alt=""width="300">
            </figure>
            <div class="content" >
               <h2 id="fordtitulo">Netflix</h2>
               <p class="letra">Netflix, Inc. es una empresa de entretenimiento y un servicio por suscripción estadounidense que opera a nivel mundial y cuyo servicio principal es la distribución de contenidos audiovisuales a través de una plataforma en línea o servicio de video bajo demanda por streaming. Ubicada en Los Gatos (California), la compañía fue creada en 1997 y un año después comenzó su actividad, ofreciendo un servicio de alquiler de DVD a través del correo postal.3​ Actualmente, Netflix participa en la producción de obras audiovisuales, desde la creación o adquisición del producto hasta su difusión mundial.</p>
               <a class="btn btn-outline-warning" href="https://www.netflix.com/ar/" role="button" >Netflix</a>
               
             
            </div>  
        </div>
        <div class="col-md-4 mb-5">
            <figure>
                <img class="img-fluid"  src="./../../../assets/public/img/iconos/icono3.png" alt="" width="300">
            </figure>
            <div class="content">
               <h2 id="fordtitulo" >Disney+</h2>
               <p class="letra">HBO Max es una plataforma de video bajo demanda estadounidense propiedad de WarnerMedia, división de AT&T. El servicio se lanzó el 27 de mayo de 2020 en los Estados Unidos y está disponible en Latinoamérica y el Caribe desde el 29 de junio de 2021. En ciertos territorios de Europa1​ y Asia se lanzará a finales de 2021 y principios de 2022.

HBO Max se basa en el servicio de televisión premium HBO de WarnerMedia e incluye toda su programación, además de una variedad de programación original adicional y contenido de biblioteca de todas las marcas de WarnerMedia, así como proveedores de contenido de terceros . </p>
<a class="btn btn-outline-warning" href="https://www.disneyplus.com/es-ar/welcome?cid=DSS-Search-Google-71700000075032759-&s_kwcid=AL!8468!3!545463207982!e!!g!!disneyplus&gclid=CjwKCAjwq9mLBhB2EiwAuYdMtXQaNpXlAH_suuatKjJRqD2da4gnX7uEnAurWIgAJKQy-Y7rPewW0BoCeM8QAvD_BwE&gclsrc=aw.ds" role="button" >Disney+</a>
            </div>
        </div>
        <div class="col-md-4">
            <figure>
                <img  class="img-fluid"  src="./../../../assets/public/img/iconos/icono2.png" alt=""width="300">
            </figure>
            <div class="content">
               <h2 id="fordtitulo">HBO MAX</h2>
               <p class="letra">Disney+ (pronunciado Disney Plus) es un servicio de suscripción de vídeo a la carta en streaming propiedad de la división de Distribución de Medios y Entretenimiento de The Walt Disney Company y gestionado por la misma.4​ El servicio distribuye principalmente películas y series de televisión producidas por The Walt Disney Studios y Walt Disney Television, con centros de contenido dedicados a Disney, Pixar, Marvel, Star Wars, National Geographic y la marca Star para determinados mercados internacionales fuera de Estados Unidos. También se distribuyen películas, documentales, cortos y series de televisión originales en Disney+.</p> 
               <a class="btn btn-outline-warning" href="https://www.hbomax.com/subscribe/plan-picker?utm_id=sa%7c71700000084767084%7c58700007214361779%7cp64690578812&gclid=CjwKCAjwq9mLBhB2EiwAuYdMtXf8RYHBPrc_jNBCXF0Vl7QlE8MwQYdKrURpv1wMJdTP-AvrFqwSfRoCJZYQAvD_BwE&gclsrc=aw.ds" role="button" >HBO Max</a>
              </div>
        </div>


        <div class="col-md-4">
          <figure>
              <img  class="img-fluid"  src="./../../../assets/public/img/iconos/icono4.png" alt=""width="300">
          </figure>
          <div class="content">
             <h2 id="fordtitulo">Prime Video</h2>
             <p class="letra">Amazon Prime Video es un servicio de Amazon para ver contenido audiovisual, como series y películas, en streaming y con suscripción de pago. Amazon Prime es una suscripción de Amazon por la que, por pagar una cuota anual o mensual, se puede acceder a servicios exclusivos.Que te da acceso a series, películas populares y series de TV exclusivas de Amazon Originals. ... Si sincronizas Prime Gaming con Amazon Prime, puedes obtener una suscripción gratuita a un canal de Prime Gaming cada mes. En la suscripción se incluye acceso exclusivo y gratuito al contenido de videojuegos.</p> 
             <a class="btn btn-outline-warning" href="https://www.primevideo.com/?ref_=dvm_pds_amz_ar_dc_s_g_mkw_s3PfBvfwf-dc_pcrid_196246258317&mrntrk=slid__pgrid_42306243048_pgeo_1000123_x__ptid_kwd-2850171361" role="button" >Prime Video</a>
            </div>
      </div>


      <div class="col-md-4">
        <figure>
            <img  class="img-fluid"  src="./../../../assets/public/img/iconos/icono5.png" alt=""width="300">
        </figure>
        <div class="content">
           <h2 id="fordtitulo">Apple TV+</h2>
           <p class="letra">Apple TV es un dispositivo reproductor multimedia que convierte cualquier televisor convencional con entrada HDMI en un Smart TV. Su sistema operativo tvOS desarrollado por Apple es capaz de descargar aplicaciones como Netflix, Disney+ y HBO Max, entre otras, y además, permite proyectar en la pantalla del televisor lo que estás viendo en tu iPhone o iPad, brindando acceso a una infinidad de contenidos.Apple TV HD: Esta versión de Apple TV fue lanzada en el año 2015 y nos permite reproducir o transmitir contenidos en resolución HD (alta definición). Cuenta con un procesador A8 con arquitectura de 64 bits.</p> 
           <a class="btn btn-outline-warning" href="https://www.apple.com/la/apple-tv-plus/" role="button" >Apple TV+</a>
          </div>
    </div>


    <div class="col-md-4">
      <figure>
          <img  class="img-fluid"  src="./../../../assets/public/img/iconos/icono6.png" alt=""width="300">
      </figure>
      <div class="content">
         <h2 id="fordtitulo">Movistar Lite</h2>
         <p class="letra">Se trata de un servicio de Movistar al que todo el mundo tiene acceso, ya que no requiere que seamos clientes de la compañía. Podríamos decir que se trata de la propia alternativa a Netflix por parte del operador, ya que su modelo de negocio es prácticamente el mismo. A cambio de una suscripción, tenemos acceso a una serie de contenidos.Movistar+ Lite solo está disponible en nuestro país, aunque es muy probable que próximamente extienda el servicio a otros lugares del mundo donde la compañía tiene presencia.</p> 
         <a class="btn btn-outline-warning" href="https://www.movistar.com.ar/productos-y-servicios/movistarplay?utm_source=GOOGLE-SEARCH&utm_medium=SEM&utm_campaign=AR_MPLAY_COL-MOVISTAR-PLAY_20-01-01_SEM_LEAD-WEB_AON_ABT_BRAND_83222&utm_content=CPC_LDS&gclid=Cj0KCQiAsqOMBhDFARIsAFBTN3cx17KeYrWCKMJI7Oq9_Afxy0F3o96WIBGbC3dXc9IhrzVTm40iszwaAtKaEALw_wcB&gclsrc=aw.ds" role="button" >Movistar+ Lite</a>
        </div>
  </div>
    </div>


    <div class="box">
      <div class="inner">
        <span>Estrenos</span>
      </div>
      <div class="inner">
        <span>Cartelera</span>
      </div>
    </div>




<div class="conteprincipal">
  <div class="contenedor">
    <div class="card2">
      <div class="imgBx">
          <img src="https://es.web.img2.acsta.net/pictures/21/08/31/16/41/4145554.jpg">
      </div>
      <div class="details">
          <h2>Venom 2</h2>
          <p>“Venom 2” si estrena este viernes 1 de octubre en Estados Unidos. Mientras que, en Chile y otros países de Latinoamérica la película llegará a las salas de cine el jueves 7 de octubre del 2021</p>
          <a class="btn btn-warning" href="https://www.youtube.com/watch?v=F4Ygcigj0Gk" role="button">Trailer</a>
        </div>

  </div>

  <div class="card3">
    <div class="imgBx">
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shang-chi-poster-fotogramas-1618847295.jpeg?resize=480:*">
    </div>
    <div class="details">
        <h2>Quan Chi</h2>
        <p>La película de Marvel 'Shang-Chi: la leyenda de los diez anillos' tenía como fecha de estreno fijada el 12 de febrero de 2021, pero debido a la crisis del Coronavirus, ha visto cómo se ha movido su estreno al 3 de septiembre de 2021.</p>
        <a class="btn btn-warning" href="https://www.youtube.com/watch?v=HjzATzdlN2A" role="button">Trailer</a>
      </div>
</div>
<div class="card4">
  <div class="imgBx">
      <img src="https://www.ecartelera.com/carteles/8900/8901/035_m.jpg">
  </div>
  <div class="details">
      <h2>Vengadores End Game</h2>
      <p>Thanos destruye la gema del tiempo en la realidad del MCU que conocemos y que hemos seguido a lo largo de 22 películas.</p>
      <a class="btn btn-warning" href="https://www.youtube.com/watch?v=TcMBFSGVi1c" role="button">Trailer</a>
    </div>
</div>
</div>

 
<div class="contenedor2">
<div class="card5">
  <div class="imgBx">
      <img src="https://i.pinimg.com/564x/2c/9e/35/2c9e351a96c45ed0d3260f83f7089d61.jpg">
  </div>
  <div class="details">
      <h2>Eternals</h2>
      <p>En la película, los Eternos, una raza alienígena inmortal, emergen de su escondite después de miles de años para proteger a la Tierra de sus contrapartes malvadas, los Desviantes.</p>
      <a class="btn btn-warning" href="https://www.youtube.com/watch?v=v1EkoQV4g5c" role="button">Trailer</a>
    </div>
</div>



<div class="card6">
  <div class="imgBx">
      <img src="https://es.web.img2.acsta.net/c_310_420/pictures/21/11/15/18/17/0807353.jpg">
  </div>
  <div class="details">
      <h2>Spiderman</h2>
      <p>Cuando pide ayuda a Doctor Strange, los riesgos pasan a ser aún más peligrosos, obligándole a descubrir lo que realmente significa ser Spider-Man”. Spider-Man: No Way Home se estrena en cines el 17 de diciembre de 2021.</p>
      <a class="btn btn-warning" href="https://www.youtube.com/watch?v=r6t0czGbuGI" role="button">Trailer</a>
    </div>
</div>


<div class="card7">
  <div class="imgBx">
      <img src="https://i.pinimg.com/originals/72/49/cc/7249cc739c663e51816b5dedb71cdabb.jpg">
  </div>
  <div class="details">
      <h2>Black Panther 2</h2>
      <p>Black Panther: Wakanda Forever', la secuela de 'Black Panther', promete volver a ser un éxito. Hace algunos años, nadie conocía al rey de Wakanda.</p>
      <a class="btn btn-warning" href="https://www.youtube.com/watch?v=qZuQc-GvRlk" role="button">Trailer</a>
    </div>
</div>
</div>
</div>




<h1 class="tituloprincipal2">Cines De la Ciudad de Corrientes</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="https://i.ytimg.com/vi/7qkXYa6hWtw/0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cines De La Costa Corrientes</h5>
        <p class="card-text"><b>Ubicado en:</b> Centenario Shopping.</p>
        <p class="card-text"><b>Dirección:</b> Av. Raúl Alfonsín 3535, 3400 Corrientes.</p>
        <p class="card-text"><b>Teléfono:</b> 0379 442-6966.</p>
        <p class="card-text"><b>Provincia:</b> Corrientes.</p>
        
        <a class="btn btn-warning" href="http://shopping.loscinesdelacosta.com.ar/" role="button">Sitio Web</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/78/f4/7e/casino-lapacho-en-flor.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cines De La Costa Costanera</h5>
        <p class="card-text"><b>Ubicado en:</b> Costanera Corrientes.</p>
        <p class="card-text"><b>Dirección:</b>  Carlos Pellegrini 451, W3400 Corrientes</p>
        <p class="card-text"><b>Teléfono:</b> 0379 446-0360</p>
        <p class="card-text"><b>Provincia:</b> Corrientes.</p>
       
        <a class="btn btn-warning" href="http://costanera.loscinesdelacosta.com.ar/" role="button">Sitio Web</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" >
      <img src="https://i.ytimg.com/vi/7qkXYa6hWtw/0.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cines De La Costa Resistencia</h5>
        <p class="card-text"><b>Ubicado en:</b> Resistencia Shopping.</p>
        <p class="card-text"><b>Dirección:</b>  Sarmiento, Av. Sarmiento 2610, H3502 Resistencia, Chaco.</p>
        <p class="card-text"><b>Teléfono:</b> 0379 446-0360.</p>
        <p class="card-text"><b>Provincia:</b> Corrientes.</p>
        
        <a class="btn btn-warning" href="http://resistencia.loscinesdelacosta.com.ar/" role="button">Sitio Web</a>
      </div>
    </div>
  </div>
</div>
 




<h1 class="tituloprincipal3">Como Llegar? Muy Facil!</h1>

<div class="contenedormaps">
<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28316.994524841808!2d-58.83755451328657!3d-27.480953004701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456b97f86f7d5b%3A0xd070705087180eb9!2sLos%20Cines%20de%20la%20Costa!5e0!3m2!1ses-419!2sar!4v1637262946743!5m2!1ses-419!2sar" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28319.737400817576!2d-58.847941766203746!3d-27.470281262753193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94456cb0a14a415f%3A0x4c7e863687396542!2sLos%20Cines%20de%20la%20Costa!5e0!3m2!1ses-419!2sar!4v1637262876826!5m2!1ses-419!2sar" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3541.2237095550295!2d-58.96483508523419!3d-27.431138021630748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450dad8e55e8df%3A0x8e574957a1b2d972!2sLos%20Cines%20De%20La%20Costa!5e0!3m2!1ses-419!2sar!4v1637261674481!5m2!1ses-419!2sar" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>





<div class="box2">
  <div class="inner2">
    <span>De Series</span>
  </div>
  <div class="inner2">
    <span>Directorio</span>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Star Wars
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-body">
          <div class="slider2">
            <ul>
          <li>
      <img src="./../../../assets/public/img/starwars/starwars1.png" alt=""><p class="letra2">Episodio I - La amenaza fantasma</p>
       </li>
          <li>
      <img src="./../../../assets/public/img/starwars/starwars2.png" alt=""><p class="letra2">Episodio II - El ataque de los clones</p>
          </li>
          <li>
      <img src="./../../../assets/public/img/starwars/starwars3.png" alt=""><p class="letra2">Episodio III - La venganza de los Sith</p>
          </li>
          <li>
        <img src="./../../../assets/public/img/starwars/starwars4.png" alt=""><p class="letra2">Episodio IV - Una nueva esperanza</p>
          </li>
              <li>
        <img src="./../../../assets/public/img/starwars/starwars5.png" alt=""><p class="letra2">Episodio V - El Imperio contraataca</p>
          </li>
          
        </ul>
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Harry Potter
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="slider2">
          <ul>
        <li>
    <img src="./../../../assets/public/img/harrypotter/harry1.png" alt=""><p class="letra2">Harry Potter y la piedra filosofal</p>
     </li>
        <li>
    <img src="./../../../assets/public/img/harrypotter/harry2.png" alt=""><p class="letra2">Harry Potter y la cámara secreta</p>
        </li>
        <li>
    <img src="./../../../assets/public/img/harrypotter/harry3.png" alt=""><p class="letra2">Harry Potter y el prisionero de Azkaban</p>
        </li>
        <li>
      <img src="./../../../assets/public/img/harrypotter/harry4.png" alt=""><p class="letra2">Harry Potter y el cáliz de fuego</p>
        </li>
            <li>
      <img src="./../../../assets/public/img/harrypotter/harry5.png" alt=""><p class="letra2">Harry Potter y la orden del Fénix</p>
        </li>
        
      </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
       Netflix
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="slider2">
          <ul>
        <li>
    <img src="./../../../assets/public/img/netflix/netflix1.png" alt=""><p class="letra2">Stranger Things</p>
     </li>
        <li>
    <img src="./../../../assets/public/img/netflix/netflix2.png" alt=""><p class="letra2">Breaking Bad</p>
        </li>
        <li>
    <img src="./../../../assets/public/img/netflix/netflix3.png" alt=""><p class="letra2">Peaky Blinders</p>
        </li>
        <li>
      <img src="./../../../assets/public/img/netflix/netflix4.png" alt=""><p class="letra2">La Casa de Papel</p>
        </li>
            <li>
      <img src="./../../../assets/public/img/netflix/netflix5.png" alt=""><p class="letra2">Daredevil</p>
        </li>
      </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Anime
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="slider2">
          <ul>
        <li>
    <img src="./../../../assets/public/img/serie/serie1.jpg" alt=""><p class="letra2">Naruto</p>
     </li>
        <li>
    <img src="./../../../assets/public/img/serie/serie2.png" alt=""><p class="letra2">One piece</p>
        </li>
        <li>
    <img src="./../../../assets/public/img/serie/serie3.png" alt=""><p class="letra2">Saint Seiya</p>
        </li>
        <li>
      <img src="./../../../assets/public/serie/img/serie4.png" alt=""><p class="letra2">Fullmetal Alchemist Brotherhood</p>
        </li>
            <li>
      <img src="./../../../assets/public/serie/img/serie5.png" alt=""><p class="letra2">Aang</p>
        </li>
      </ul>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       Dc Comics
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">

        <div class="slider2">
          <ul>
        <li>
    <img src="./../../../assets/public/img/dc/dc1.png" alt=""><p class="letra2">Batman Vs Superman</p>
     </li>
        <li>
    <img src="./../../../assets/public/img/dc/dc2.png" alt=""><p class="letra2">Superman: El Hombre De Acero</p>
        </li>
        <li>
    <img src="./../../../assets/public/img/dc/dc3.png" alt=""><p class="letra2">Linterna Verde</p>
        </li>
        <li>
      <img src="./../../../assets/public/img/dc/dc4.png" alt=""><p class="letra2">Wonder Woman</p>
        </li>
            <li>
      <img src="./../../../assets/public/img/dc/dc5.png" alt=""><p class="letra2">Aquaman</p>
        </li>
      </ul>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Marvel
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="slider2">
          <ul>
        <li>
    <img src="./../../../assets/public/img/marvel/marvel1.png" alt=""><p class="letra2">Iron man</p>
     </li>
        <li>
    <img src="./../../../assets/public/img/marvel/marvel2.png" alt=""><p class="letra2">Thor</p>
        </li>
        <li>
    <img src="./../../../assets/public/img/marvel/marvel3.png" alt=""><p class="letra2">Capitan America</p>
        </li>
        <li>
      <img src="./../../../assets/public/img/marvel/marvel4.png" alt=""><p class="letra2">Pantera Negra</p>
        </li>
            <li>
      <img src="./../../../assets/public/img/marvel/marvel6.png" alt=""><p class="letra2">Los Vengadores</p>
        </li>
      </ul>
        </div>
    </div>
  </div>
</div>
</div>
</div>
<br>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="fot"><b>Martinez Matias 2021</b></span>
    
  
    </div>
    <div id="reloj" class="reloj">00 : 00 : 00
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul>
  </footer>














